@charset "UTF-8";

 * {
        padding: opx;
        margin: opx;
    }
  body {
    height: 100vh;
    background: #111;
    background-image: url('imagens/fundo02.png');
    background-size:  100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
  }
  
header {
    width: 200px;
    margin: auto;
    color: white;
    border: 3px solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.407);
    border-radius: 20px;
}
.nome {
    padding: 3px;
    margin: auto;
    width: 250px;
    border: 3px solid black;
    text-align: center;
     background-color: rgba(255, 255, 255, 0.407);
     border-radius: 20px;
     font-size: 20px;
}
  .carousel {
    margin: auto;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    border: 5px solid black;
  }

  .carousel-track {
    display: flex;
    width: calc(300px * 6);
    animation: scroll 15s linear infinite;
  }

  .carousel-track img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-900px);
    }
  }
  main {
    margin: auto;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.225);
    border-radius: 20px;
    padding: 15px;
  }
  main > p{
    color: rgb(25, 3, 3);
    text-indent: 20px;
    text-align: center;
  }