@charset "UTF-8";




* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(49, 3, 3);
}
header {
    text-align: center;
    width: 300px;
    margin: auto;
    background-image: linear-gradient(to right, red, black, blue);
    color: white;
    border-radius: 20px;
}
.nome {
    width: 400px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    margin: auto;
    font-family: fantasy;
    margin-bottom: 10px;
}

main {
    
    margin: auto;
    width: 300px;
    background-color:rgba(0, 0, 0, 0.326) ;
}
main > p {
    padding: 15px;
    color: white;
    text-indent: 20px;
}
.album {
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    border-radius: 20px;
    background: #000;
    margin: auto;
    margin-top: 30px;
    background-image: linear-gradient(to bottom, rgb(4, 5, 33), rgb(45, 24, 24));
    font-family: "Macondo", cursive;;
    font-weight: bolder;
    font-variant: small-caps;
    text-align: center;
    color: white;
}

.album-track {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}


.album-track img {
    width: 250px;
    height: 280px;
    object-fit: cover;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.album:hover .album-track {
    animation-play-state: paused;
}